<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appfail" type="AppfailReporting.AppfailConfiguration, AppfailReporting"/>
  </configSections>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpModules>
		<add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
    </httpModules>
    <appfail apiToken="AFcHX07jI6SmmImD6JErQ" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Index.aspx" />
        <add value="Index.htm" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
        <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appfail apiToken="AFcHX07jI6SmmImD6JErQ" />
</configuration>